#chat-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: aliceblue;
    flex: 0 0 65%;
    margin-right: 5%;
}

#message-list {
    max-height: 300px;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    /* background-image: url("img4.jpg"); */
    background-color: #5ac75a38;
    color: black;
    font-size: medium;
}

#message-input {
    width: 80%;
    padding: 5px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

#send-message {
    padding: 5px 10px;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

body{
    display: flex;
}

.container {
    display: flex;
    width: 100%;
    margin-top: 5vh;
}

#userList-container {
    flex: 0 0 30%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: aliceblue;
}

#userList-container div {
    margin-bottom: 5%;
}

#welcome_message{
    color: green;
}

#usersOnline div {
    padding: 5px 10px;
    margin-bottom: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    color: #048b0499;
}

.left-message {
    text-align: left;
    margin-right: auto;
    margin-left: 0;
    align-self: flex-start;
    background-color: #f0f0f0;
}

.right-message {
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    align-self: flex-end;
    background-color: #dcf8c6;
}

.message-container {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 8px 12px;
}

.message-username {
    align-self: flex-end;
    font-size: 0.8em;
    color: #888;
}

.message-text {
    margin-top: 5px;
    word-wrap: break-word;
}

.message-time {
    align-self: flex-end;
    font-size: 0.7em;
    color: #ccc;
}

.message-username-right {
    align-self: flex-start;
    font-size: 0.8em;
    color: #888;
}

.message-time-right {
    align-self: flex-start;
    font-size: 0.7em;
    color: #ccc;
}

#usersOnlineCount{
    color: green;
}